

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding: 20px;
    background: url(../img/shattered.png) repeat;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

hr {
    border: 1px solid #e0e0e0;
}

a, a:hover, a:visited {
    color: #F16529;
}

header h1, header h2 {
    text-align: center;
}

header h1 {
    font-size: 76px;
}

header h2 {
    margin-top: 30px;
    font-weight: 400;
}

.logo-5 {
    background: url(../img/HTML5_Badge_512.png) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
}

.register {
    text-align: center;
}

.details {
    margin-top: 40px;
}

.details p {
    padding: 5px 20px;
}

.details h1 {
    font-size: 24px;
    text-align: center;
    background: #F16529;
    color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
}

.sponsors-list {
    list-style: none;
    text-align: center;
    margin: 0;
}

.sponsors-mobica {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url(../img/sponsors-mobica.png) no-repeat;
    background-size: cover;
}

@media (max-width: 320px) {
    header h1 span {
        margin-top: 20px;
    }
}