<IfModule mod_rewrite.c>
    Options -MultiViews

    <files app.db>
        Order allow,deny
        Deny from all
    </files>

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>